* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  display: flex;
  justify-content: center;
}

body {
  font-size: 1.6rem;
}

.container {
  width: 72.9rem;
  height: 80.3rem;

  background: #fffffd;
}

.cima {
  width: 73.1rem;
  height: 21.2rem;
  background: rgba(240, 92, 84, 0.86);
  justify-content: center;
}

.cima img {
  padding-top: 0.6rem;
  padding-left: 32.5rem;
  display: flex;
}

.a {
  color: #ffffff;
  font-family: 'Oleo Script', sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  display: block;
}

.b {
  color: #ffffff;
  font-family: 'Oleo Script', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  display: flex;
}

.c {
  color: #423431;
  font-family: 'Oleo Script', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  display: flex;
}
