* {
  margin: 0 auto;
}

html,
body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #1b1717;
  align-items: center;
  justify-items: center;
}

.container,
.header,
.main,
.footer {
  width: 132.5rem;
}

.container {
  height: 100%;
  background: #3c3d47;
  border-radius: 8rem 0rem 8rem 0rem;
}

header {
  height: 17.6rem;
  background: #0f4a06;
  border-radius: 8rem 0rem 8rem 0rem;
  align-items: center;
  justify-items: center;
}

h1 {
  font-family: 'Rubik Wet Paint';
  font-style: normal;
  font-weight: 400;
  font-size: 9.6rem;
  line-height: 11.4rem;
  text-align: center;
  color: #f2b30f;
  padding-top: 2rem;
}

main {
  height: calc(100% - 30.5rem);
  flex-direction: column;
}

section {
  display: flex;
  padding-top: 15rem;
}

img {
  border: 10px solid #0f4a06;
}

footer {
  height: 12.9rem;
  background: #9b9a9a;
  border-radius: 8rem 0rem 8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2,
footer p {
  font-family: 'Rubik Wet Paint';
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  text-align: center;
}

h2 {
  padding-left: 8rem;
}

footer p {
  color: #861313;
  padding-right: 8rem;
}
