* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, boyd {
  height: 100%;
}

:root {
  --primary-color: #BB2BFF;
  --bg-color-primary: #BB2BFF;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Fira Code', monospace;
  height: 100%;
}

form{
  background-color: rgb(104, 103, 102);
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
}

input{
  margin: 2rem;
  width: 40%;
}

#list-section{
  min-height: 28rem;
  max-height: 28rem;
  
}