:root {
  height: 100;
}

html,
body {
  display: flex;
  height: 62.5%;
}

body {
  margin-top: 20rem;
  font-size: 1.6rem;
  justify-items: center;
  align-items: center;
}

.container {
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;

  width: 60rem;
  height: 62.9rem;

  background-color: rgba(45, 49, 51, 0.81);
}
.botao {
  top: 30px;
  background-color: #00856f;
  border-radius: 80px;
}

.texto {
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
  width: 54rem;
  height: 12rem;
}
.title {
  text-align: justify;
  text-transform: uppercase;
  color: #ffffff;
}

.img {
  width: 54.9rem;
  height: 28.1rem;
  justify-items: center;
  align-items: center;
  display: block;
}
