* {
  margin: 0 auto;
}

html,
body {
  display: flex;
  height: 100%;
  flex-direction: column;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #1b1717;
  align-items: center;
  justify-items: center;
}

.container,
.header,
.main,
.footer {
  width: 132.5rem;
}

.container {
  height: 100%;
  background: #3c3d47;
  border-radius: 8rem 0rem 8rem 0rem;
}

header {
  height: 17.6rem;
  background: #0f4a06;
  border-radius: 8rem 0rem 8rem 0rem;
  align-items: center;
  justify-items: center;
}

h1 {
  font-family: 'Rubik Wet Paint';
  font-style: normal;
  font-weight: 400;
  font-size: 9.6rem;
  line-height: 11.4rem;
  text-align: center;
  color: #f2b30f;
  padding-top: 2rem;
}

.circulo {
  background-color: #ff0000;
  border: 0.8rem solid #a97e0e;
  box-sizing: border-box;
  width: 28.4rem;
  height: 29.1rem;
  border-radius: 17rem 17rem 17rem 17rem;
  position: absolute;
  padding-top: 4rem;
  margin-top: 8rem;
  margin-left: 115rem;
}

.circulo p {
  font-family: 'Rubik Wet Paint';
  font-style: normal;
  font-weight: 400;
  font-size: 87px;
  line-height: 103px;
  text-align: center;
  color: #f5b208;
}

main {
  height: 152.1rem;
  flex-direction: column;
}

section {
  display: flex;
  padding-top: 10rem;
}

img {
  border: 10px solid #0f4a06;
  cursor: pointer;
  margin-bottom: 2rem;
}

h3,
h4 {
  text-align: center;
  font-family: 'David Libre';
  font-weight: 400;
}

h3 {
  font-size: 7.5rem;
  color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 6rem;
  color: #740202;
  text-decoration: line-through;
}

article {
  justify-content: center;
  align-items: center;
}

footer {
  height: 12.9rem;
  background: #9b9a9a;
  border-radius: 8rem 0rem 8rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2,
footer p {
  font-family: 'Rubik Wet Paint';
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  text-align: center;
}

h2 {
  padding-left: 8rem;
}

footer p {
  color: #861313;
  padding-right: 8rem;
}

.direitos {
  height: 7rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.direitos p {
  color: rgba(255, 255, 255, 0.623);
  font-size: 3rem;
  margin-top: 2rem;
}
